@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #a08348;
  --secondary: #ed1c24;
  --yellow: #ffb72b;
  --bg-color: #e6e6e6;
  --sky-blue: #1697bb;
  --white: #ffffff;
  --black: #000;
  --gray: #3d3d3d;
}


.back-to-top{
  z-index: 999;
  background-color: #0078FF;
  color: white;
  border-radius: 100% 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.back-to-top:hover{
  background-color:#0067dd;
  color: white;
}
.footer .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.footer p,
a {
  list-style: none;
}
@keyframes backgroundSlide {
  0% {
    background-image: url('../images/navbarbg1.jpg'); /* First image */
  }
  33.33% {
    background-image: url('../images/navbarbg1.jpg'); /* Hold the first image */
  }
  38.33% {
    background-image: url('../images/navbarbg2.jpg'); /* Second image */
  }
  71.66% {
    background-image: url('../images/navbarbg2.jpg'); /* Hold the second image */
  }
  76.66% {
    background-image: url('../images/navbarbg3.jpeg'); /* Third image */
  }
  100% {
    background-image: url('../images/navbarbg3.jpeg'); /* Hold the third image */
  }
}

.navbar {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  animation: backgroundSlide 15s infinite; 
  animation-timing-function: ease-in-out; 
}


.navbar #nav-button {
  background-color: var(--primary);
  color: var(--white);
  width: 180px;
  height: 40px;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar #nav-button:hover {
  background-color: var(--gray);
  color: var(--white);
  transition: 0.5s;
}

.heading-h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 2.5rem;
}

.sub-heading {
  color: var(--yellow);
  font-weight: bold;
  font-size: 25px;
}

header {
  background-color: var(--bg-color);
  min-height: 80vh;
  padding-bottom: 20px;
  border-radius: 0 0 230px 0;
}

.navbar .navbar-brand {
  font-weight: bold;
  color: var(--primary);
  font-size: 3rem;
}

.navbar .navbar-brand span {
  color: var(--secondary);
}


.navbar .nav-item .nav-link {
  color: var(--bg-color);
  padding: 10px 20px; 
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 10px; */
  min-width: 100px;
  transition: background-color 0.4s, color 0.4s;
  display: inline-block;
  font-family: Montserrat, sans-serif;
}

.navbar .nav-item .nav-link:hover {
  color: var(--white);
  background-color: var(--primary);
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  text-align: center;
}
/*navbar */

/*our story  */
.our-story{
min-height: 500px;
width: 65%;
}
.our-story .row{
  display: flex;
  justify-content: center;
  align-items: center;

}
.our-story .content .heading p{
color: var(--primary);
font-size: 28px;
}
.our-story .content .para p{
  font-size: 13px;
  }
.our-story .img img{
  width: 100%;
  height: 420px;
  object-fit: contain;
}
/*our story  */








